
@media (min-width: 992px) {
    body{
        margin: 0;
        padding: 0;
        --sideLeftMargin: calc(1% + var(--socialMediaIconSize));
        --sideRightMargin: 33%;
        --sideLeftMarginSmall: calc(1% + var(--socialMediaIconSize));
        --sideRightMarginSmall: calc(1% + var(--socialMediaIconSize));
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 8px;
    }

    .st-tabs-container h1{
        font-size: 3rem;
    }
    
    
    .fb-page iframe{
        display: inline-block;
        visibility: visible;
    }    
    
    .sidePanelContainer{
        visibility: visible;
    }
    
} 